[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-cors = "*"
flask-migrate = "*"
gunicorn = "*"
werkzeug = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-login = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
